/build/
/nbproject/private/
/site/
/stategraems_extensions/local_directory/nbproject/private/
/stategraems_extensions/local_directory/build/
/stategraems_extensions/local_directory/dist/
/stategraems_extensions/ftp_server/build/
/stategraems_extensions/ftp_server/dist/
/stategraems_extensions/ftp_server/nbproject/private/
/stategraems_extensions/galaxy_server/build/
/stategraems_extensions/galaxy_server/dist/
/stategraems_extensions/galaxy_server/nbproject/private/
/stategraems_extensions/owncloud_server/nbproject/private/
/stategraems_extensions/owncloud_server/dist/
/stategraems_extensions/owncloud_server/build/