<div ng-controller="ExternalSampleDetailController as controller" >
    <form name="bioconditionForm" class="form-horizontal">
        <nav class="navbar navbar-default navbar-top title-bar">
            <h1 class="form_title">{{panel_title}}</h1>
        </nav>
        <div class="section_box" >
            <h2 class="section_subtitle">LIMS information</h2>
            <div class="field-group row">
                <label class="col-sm-2" for="lims_type">Choose the LIMS system:</label>
                <select class="col-sm-9" name="lims_type" ng-model="model.lims_type">
                    <option value="baobablims">Baobab LIMS</option>
                    <option value="openspecimen">OpenSpeciment</option>
                </select>
            </div>
            <div class="field-group row">
                <label class="col-sm-2" for="lims_url">URL to service</label>
                <input class="col-sm-9" type="text" placeholder="Type the sample name" name="lims_url" 
                       ng-model="model.lims_url" 
                       ng-required="true" 
                       ng-readonly="viewMode === 'view'">
            </div>
            <h2 class="section_subtitle">Credentials for LIMS</h2>
            <div class="field-group row">
                <label class="col-sm-2">Username:</label>
                <input class="col-sm-9" type="text" class="form-control" ng-model="files_selection.username">
            </div>
            <div class="field-group row">
                <label class="col-sm-2">Password:</label>
                <input class="col-sm-9" type="password" class="form-control" ng-model="files_selection.pass">
            </div>
            <hr>
            <div class="field-group row">
                <label class="col-sm-2">API key:</label>
                <input class="col-sm-9" type="text" class="form-control" ng-model="files_selection.apikey">
            </div>
            <div class="field-group row">
                <a class="btn btn-primary btn-md navbar-right" style="margin-right: 80px;" ng-click="controller.getAllExternalSamplesHandler();">
                    <i class="fa fa-search"></i>Find samples
                </a>
            </div>
        </div>
        <div class="section_box" >
            <h2 class="section_subtitle">Found samples</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 30px;"></th>
                        <th>Sample id</th>
                        <th>Sample name</th>
                        <th>Tools</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 30px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                        <td>S0001</td>
                        <td>Doasdoley</td>
                        <td><a><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr>
                        <td style="width: 30px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                        <td>S0001</td>
                        <td>Doasdoley</td>
                        <td><a><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr>
                        <td style="width: 30px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                        <td>S0001</td>
                        <td>Doasdoley</td>
                        <td><a><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr>
                        <td style="width: 30px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                        <td>S0001</td>
                        <td>Doasdoley</td>
                        <td><a><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom progressNavigator" ng-hide="isDialog" >
            <div class="container">
                <a class="btn btn-danger btn-md navbar-right" ng-click="controller.cancelButtonHandler();">
                    <i class="fa fa-times"></i> <span ng-if="viewMode === 'view'">Close</span><span ng-if="viewMode !== 'view'">Cancel</span> 
                </a>
                <a class="btn btn-success btn-md navbar-right" ng-show="viewMode !== 'view'"  ng-click="controller.acceptButtonHandler()" >
                    <i class="fa fa-check fa-fw" ></i> Accept
                </a>
            </div>
        </nav>
        <nav class=" navbar-fixed-bottom" style="left: initial;" ng-hide="isDialog">
            <back-top scroll-speed=600 button-theme="btn btn-default btn-sm navbar-right"></back-top>
        </nav>
    </form>
</div>

