<div ng-controller="ExternalSampleDetailController as controller" >
    <form name="bioconditionForm" class="form-horizontal">
        <nav class="navbar navbar-default navbar-top title-bar">
            <h1 class="form_title">{{panel_title}}</h1>
        </nav>
        <div class="section_box">
            <h2 class="section_subtitle">General details</h2>
            <div class="field-group row">
                <label class="col-sm-2" for="name">Sample name</label>
                <input class="col-sm-9" type="text" placeholder="Type the sample name" name="title" 
                       ng-model="model.title" 
                       ng-required="true" 
                       ng-readonly="viewMode === 'view'">
            </div>
            <div class="field-group row">
                <label class="col-sm-2" for="organism">Organism</label>
                <input class="col-sm-9" type="text" placeholder="Not specified" name="organism" 
                       ng-model="model.organism" 
                       uib-typeahead="option.label for option in organisms_options | filter:$viewValue:startsWith"
                       ng-required="true" 
                       ng-readonly="viewMode === 'view'">
            </div>
            <div class="field-group row">
                <label class="col-sm-2" for="other_biomaterial">Description:</label>
                <textarea  class="col-sm-9" rows="8" name="other_biomaterial" ng-model="model.other_biomaterial"  ng-readonly="viewMode === 'view'"></textarea>
            </div>
            <div class="field-group row">
                <label class="col-sm-2" for="owners">Sample owners</label>
                <user-selector-field  class="col-sm-9" name="owners" ng-init="models = model.owners" ng-readonly="viewMode === 'view'"></user-selector-field>
            </div>
            <div class="field-group row">
                <label class="col-sm-2" for="tags">Sample tags</label>
                <!--<bootstrap-tagsinput class="col-sm-9" tagClass="label label-info" name="tags" ng-model="model.tags" ng-readonly="viewMode === 'view'"></bootstrap-tagsinput>-->
                <tag-field class="col-sm-9" name="tags" ng-model="model.tags" editable="viewMode !== 'view'"></tag-field>
            </div>            
        </div>
        <div class="section_box" >
            <h2 class="section_subtitle">Links to samples</h2>
            <div class="field-group row" ng-show="viewMode !== 'view'">
                <label class="col-sm-2" >Links to sample:</label>
                <div class=" col-sm-9">
                    <div class="radio">
                        <label><input type="radio" name="link_input_type" value="manual" ng-model="link_input_type">Manual input</label>
                    </div>
<!--                    <div class="radio">
                        <label><input type="radio" name="link_input_type" value="auto" ng-model="link_input_type">Generate automatically (eB3Kit recommended)</label>
                    </div>-->
                </div>
            </div>
            <div ng-if="link_input_type === 'auto' && viewMode !== 'view'">
                <div class="field-group row">
                    <label class="col-sm-2" for="location">Choose location:</label>
                    <select class="col-sm-9" name="location" 
                            ng-model="model.other_exp_cond" 
                            ng-change="controller.sampleServicesHostChangedHandler();"
                            ng-options="host for host in samplesInfo.hosts">
                    </select>
                </div>
                <div class="field-group row">
                    <label class="col-sm-2" for="service">Choose service:</label>
                    <select class="col-sm-9" name="service" 
                            ng-model="model.protocol_description" 
                            ng-change="controller.sampleIdentifiersChangedHandler();"
                            ng-options="service for service in samplesInfo.services">
                    </select>
                </div>
                <div class="field-group row">
                    <label class="col-sm-2" for="external_links">Sample identifiers (separated by comma):</label>
                    <textarea class="col-sm-9" rows="5" name="external_links" ng-model="model.external_links" ng-change="controller.sampleIdentifiersChangedHandler();" ></textarea>
                </div>
            </div>
            <div class="field-group row" ng-if="link_input_type === 'auto'">
                <label class="col-sm-2">External links:</label>
                <div class=" col-sm-9" style=" min-height: 50px; border: 1px solid #e4e4e4; padding: 10px; margin-bottom: 10px; margin-left: -3px; ">
                    <a style="display: block;" target="_blank" href="{{external_link}}" ng-repeat="external_link in samplesInfo.built_ids">{{external_link}}</a> 
                </div>
            </div>         
            <div class="field-group row" ng-if="link_input_type === 'manual'">
                <div class="field-group row">
                    <label class="col-sm-2" for="external_links">External links:</label>
                    <textarea class=" col-sm-9" rows="8" name="external_links" ng-model="model.external_links"></textarea>
                </div>
            </div>
        </div>
        <uib-accordion close-others="oneAtATime" ng-show="viewMode === 'edition'">
            <div uib-accordion-group class="panel-danger" >
                <uib-accordion-heading><i class='fa fa-trash'></i> Delete this samples set</uib-accordion-heading>
                <p ng-if="model.owners.length > 1"><b>Delete these samples from your collection?</b><br>You will be removed from the owners list but the samples will not deleted before all the other owners remove the samples.</p>
                <p ng-if="model.owners.length < 2"><b>Delete these samples from the system?</b><br>This action will remove all the data for the samples, including biological condition details and aliquots.<br>This action cannot be undone.</p>
                <p>Please, to delete all the samples, click the button below</p>
                <a class="btn btn-danger" ng-click="controller.deleteBiologicalConditionHandler(model);"><i class='fa fa-trash'></i> Delete</a>
            </div>
        </uib-accordion>
        <nav class="navbar navbar-default navbar-fixed-bottom progressNavigator" ng-hide="isDialog" >
            <div class="container">
                <a class="btn btn-danger btn-md navbar-right" ng-click="controller.cancelButtonHandler();">
                    <i class="fa fa-times"></i> <span ng-if="viewMode === 'view'">Close</span><span ng-if="viewMode !== 'view'">Cancel</span> 
                </a>
                <a class="btn btn-warning btn-md navbar-right" ng-show="viewMode === 'view'" ng-click="controller.editButtonHandler();">
                    <i class="fa fa-pencil-square-o"></i> Edit
                </a>
                <a class="btn btn-success btn-md navbar-right" ng-show="viewMode !== 'view'"  ng-click="controller.acceptButtonHandler()" >
                    <i class="fa fa-check fa-fw" ></i> Accept
                </a>
            </div>
        </nav>
        <nav class=" navbar-fixed-bottom" style="left: initial;" ng-hide="isDialog">
            <back-top scroll-speed=600 button-theme="btn btn-default btn-sm navbar-right"></back-top>
        </nav>
    </form>
</div>

