<div>
    <nav class="modal-header navbar navbar-default navbar-top title-bar">
        <h1 class="form_title">Sample selection</h1>
    </nav>
    <div class="modal-body" style=" max-height: 800px; overflow: auto; ">
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" heading="Biocondition selection" is-open="browseDialog.current===1">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group" style="width: 100%;margin-bottom: 4px;">
                            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchFor" ng-enter="controller.applySearchHandler()">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="controller.applySearchHandler()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="currentSearchTagContainer">
                            <i class="tag" ng-repeat="item in filters">
                                <span class="tag-name">
                                    <i class="fa fa-times" ng-click="controller.removeFilterHandler(item);"></i>{{item}}
                                </span>
                            </i>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-top: 8px;">
                        Popular tags:
                        <span ng-repeat="item in tags| orderBy:'-times' | limitTo: 4" style="font-size:10px;">
                            <i class="tag {{item.color}}">{{item.times}}</i><i> {{item.name}} </i>
                        </span>
                    </div>
                </div>
                <div class="navbar-form">
                    <div style="margin: auto;display: block;max-width: 650px;">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <label for="sortBySelector">Show:</label>
                                <select style="display:inline-block;" class="form-control" id="sortBySelector"
                                        ng-model="show"
                                        ng-init="show = 'my_samples'"
                                        ng-change="controller.showSampleChooserChangeHandler(value);"
                                        >
                                    <option value="my_samples">Only my samples</option>
                                    <option value="all_samples">All public samples</option>
                                </select>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav" style="margin-left: 15px;">
                            <li class="dropdown">
                                <label for="sortBySelector">Sort by:</label>
                                <select class="form-control" id="sortBySelector" ng-model="sortBy" ng-init="sortBy = 'name'">
                                    <option value="name">Name</option>
                                    <option value="owner">Author</option>
                                </select>
                            </li>
                        </ul>
                        <i ng-show="isLoading" class="ng-binding" style="line-height: 30px;font-size: 15px;color: #777;margin-left: 15px;">
                            <i class="fa fa-spinner fa-pulse fa-fw"></i> Loading samples...
                        </i>
                        <i ng-show="!isLoading" class="ng-binding" style="line-height: 30px;font-size: 15px;color: #777;margin-left: 15px;">
                            Found {{filteredSamples}} samples
                            <a ng-click="controller.retrieveSamplesData('', true);" style="margin-left:10px; font-size: 10px; cursor: pointer;"><i class="fa fa-refresh"></i>Refresh list</a>
                        </i>
                    </div>
                </div>
                <div>
                    <div class="biocondition-card iu-card" ng-repeat="biocondition in samples| filter:filterSamples() | orderBy : sortBy | limitTo : visibleSamples" style="display: inline-block;">
                        <div class="iu-card-body">
                            <h2 class="iu-card-name">{{biocondition.title}}</h2>
                            <div class="iu-card-description">
                                <b ng-show="biocondition.isExternal">External sample</b>
                                <span>{{(biocondition.biocondition_description !== ""?biocondition.biocondition_description:"No description provided")}}</span>
                            </div>
                            <div class="iu-card-tags-list">
                                <i class="tag {{getTagColor(tag)}}" ng-repeat="tag in biocondition.tags| orderBy">{{tag}}</i>
                            </div>
                        </div>
                        <div style="text-align: center;" >
                            <span class="label label-info" ng-show="biocondition_id === biocondition.biocondition_id" style="line-height: 34px; padding: 10px;">Current selection</span>
                            <a class="btn btn-success" ng-show="biocondition_id !== biocondition.biocondition_id" ng-click="changeSelectedSample(biocondition.biocondition_id);" ><i class="fa fa-question-circle-o"></i> Use this samples set</a>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <a class="btn btn-lg btn-success" type="button" ng-click="controller.showMoreSamplesHandler()" ng-show="(filteredSamples - visibleSamples) > 0">
                            Show more samples ({{filteredSamples - visibleSamples}} left)
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group class="panel-default" heading="Sample selection" is-open="browseDialog.current===2">
                <a class="btn btn-danger" style=" display: block; width: 200px; margin: auto; " ng-click="browseDialog.current = browseDialog.current - 1"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to biocondition selection</a>
                <div ng-repeat="bioreplicate in model.associatedBioreplicates" class="biocondition-card iu-card"  style="display: inline-block;">
                    <div class="iu-card-body">
                        <h2 class="iu-card-name">{{bioreplicate.bioreplicate_name}}</h2>
                        <div class="iu-card-description">
                            This sample contains {{bioreplicate.associatedAnalyticalReplicates?bioreplicate.associatedAnalyticalReplicates.length:0}} aliquots.
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span class="label label-info" ng-show="bioreplicate_id === bioreplicate.bioreplicate_id"  style="line-height: 34px; padding: 10px;">Current selection</span>
                        <a class="btn btn-success" ng-show="bioreplicate_id !== bioreplicate.bioreplicate_id" ng-click="changeSelectedSample(bioreplicate.bioreplicate_id);" ><i class="fa fa-question-circle-o"></i> Use this sample</a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group class="panel-default" heading="Aliquout selection" is-open="browseDialog.current===3">
                <a class="btn btn-danger" style=" display: block; width: 200px; margin: auto; " ng-click="browseDialog.current = browseDialog.current - 1" ><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to sample selection</a>
                <div ng-repeat="analyticalReplicate in bioreplicate.associatedAnalyticalReplicates" class="biocondition-card iu-card"  style="display: inline-block;">
                    <div class="iu-card-body">
                        <h2 class="iu-card-name">{{analyticalReplicate.analytical_rep_name}}</h2>
                    </div>
                    <div style="text-align: center;">
                        <span ng-show="analytical_rep_id === analyticalReplicate.analytical_rep_id" class="label label-info" style="line-height: 34px; padding: 10px;">Current selection</span>
                        <a class="btn btn-success" ng-show="analytical_rep_id !== analyticalReplicate.analytical_rep_id" ng-click="changeSelectedSample(analyticalReplicate.analytical_rep_id);" ><i class="fa fa-question-circle-o"></i> Use this aliquot</a>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <span style="float: left;font-size: 20px;"><b>Current selection:</b> {{biocondition_id||"No selection"}}{{(bioreplicate_id?" > " + bioreplicate_id:"")}}{{(analytical_rep_id?" > " + analytical_rep_id:"")}}</span>
        <a class="btn btn-lg btn-success" type="button" ng-click="closeSelectionDialog()" >Use selection</a>
    </div>
</div>

