<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Analysis_servlets</servlet-name>
        <servlet-class>servlets.Analysis_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Batch_servlets</servlet-name>
        <servlet-class>servlets.Batch_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Experiment_servlets</servlet-name>
        <servlet-class>servlets.Experiment_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Samples_servlets</servlet-name>
        <servlet-class>servlets.Samples_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Treatment_servlets</servlet-name>
        <servlet-class>servlets.Treatment_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_servlets</servlet-name>
        <servlet-class>servlets.User_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Install_servlets</servlet-name>
        <servlet-class>servlets.Install_servlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Analysis_servlets</servlet-name>
        <url-pattern>/get_all_analysis</url-pattern>
        <url-pattern>/get_analysis</url-pattern>
        <url-pattern>/get_all_region_steps</url-pattern>
        <url-pattern>/get_analysis_img_prev</url-pattern>
        <url-pattern>/get_analysis_img</url-pattern>
        <url-pattern>/add_analysis</url-pattern>
        <url-pattern>/update_analysis</url-pattern>
        <url-pattern>/remove_analysis</url-pattern>
        <url-pattern>/save_analysis_image</url-pattern>
        <url-pattern>/lock_analysis</url-pattern>
        <url-pattern>/unlock_analysis</url-pattern>
        <url-pattern>/get_step_subtypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Batch_servlets</servlet-name>
        <url-pattern>/get_all_batchs</url-pattern>
        <url-pattern>/get_batch</url-pattern>
        <url-pattern>/add_batch</url-pattern>
        <url-pattern>/update_batch</url-pattern>
        <url-pattern>/remove_batch</url-pattern>
        <url-pattern>/check_removable_batch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Experiment_servlets</servlet-name>
        <url-pattern>/get_all_experiments</url-pattern>
        <url-pattern>/get_experiment</url-pattern>
        <url-pattern>/add_experiment</url-pattern>
        <url-pattern>/update_experiment</url-pattern>
        <url-pattern>/lock_experiment</url-pattern>
        <url-pattern>/unlock_experiment</url-pattern>
        <url-pattern>/remove_experiment</url-pattern>
        <url-pattern>/change_current_experiment</url-pattern>
        <url-pattern>/dump_database</url-pattern>
        <url-pattern>/get_experiment_directory_content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Treatment_servlets</servlet-name>
        <url-pattern>/get_all_treatments</url-pattern>
        <url-pattern>/get_sop_file</url-pattern>
        <url-pattern>/add_treatment</url-pattern>
        <url-pattern>/get_treatment</url-pattern>
        <url-pattern>/update_treatment</url-pattern>
        <url-pattern>/remove_treatment</url-pattern>
        <url-pattern>/check_removable_treatment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_servlets</servlet-name>
        <url-pattern>/update_user</url-pattern>
        <url-pattern>/remove_user</url-pattern>
        <url-pattern>/get_user</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/get_user_list</url-pattern>
        <url-pattern>/add_user</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/validate_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Samples_servlets</servlet-name>
        <url-pattern>/get_all_bioconditions</url-pattern>
        <url-pattern>/get_biocondition</url-pattern>
        <url-pattern>/get_all_bioreplicates</url-pattern>
        <url-pattern>/add_biocondition</url-pattern>
        <url-pattern>/remove_biocondition</url-pattern>
        <url-pattern>/update_biocondition</url-pattern>
        <url-pattern>/get_treatment_document</url-pattern>
        <url-pattern>/send_treatment_document</url-pattern>
        <url-pattern>/send_biocondition_template_document</url-pattern>
        <url-pattern>/lock_biocondition</url-pattern>
        <url-pattern>/unlock_biocondition</url-pattern>
        <url-pattern>/associate_biocondition_experiment</url-pattern>
        <url-pattern>/check_removable_sample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Install_servlets</servlet-name>
        <url-pattern>/install</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
