<div>
    <nav class="modal-header navbar navbar-default navbar-top title-bar">
        <h3 class="form_title">Please input your credentials</h3>
    </nav>
    <div class="modal-body">
        <div class="panel-default" >
            <div class="well well-sm">Please type your credentials for the host <a href="{{credentials_host}}">{{credentials_host}}</a></div>
            <div class="form-group">
                <label>User name:</label>
                <input type="text" class="form-control" ng-model="credentials.user">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="credentials.pwd">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-lg btn-success" type="button" ng-click="closeCredentialsDialog(true)">Accept</a>
        <a class="btn btn-lg btn-danger" type="button" ng-click="closeCredentialsDialog(false)">Cancel</a>
    </div>
</div>

