<div ng-controller="AnalysisDetailController as controller" ng-init="activeTab = 0">
    <form class="form-horizontal">
        <nav class="navbar navbar-default navbar-top title-bar">
            <h1 class="form_title">{{panel_title}}</h1>
        </nav>
        <uib-tabset active="activeTab">
            <uib-tab index="0" select="refreshDiagram()">
                <uib-tab-heading>
                    <i class="fa fa-sitemap"></i> Analysis details
                </uib-tab-heading>
                <h2 class="form_subtitle">Analysis details</h2>
                <div ng-if="template === undefined">
                    <p>Generating the form...</p>
                </div>

                <div ng-if="template !== undefined">
                    <div class="section_box" ng-repeat="section in template.content">
                        <h2 class="section_title">{{section.title}}</h2>
                        <form-field ng-repeat="field in section.fields"></form-field>
                        <form-field ng-repeat="field in (model.extra[section.name]|| [])"></form-field>
                    </div>
                </div>
                <div class="panel panel-container">
                    <h4>Workflow overview</h4>
                    <analysis-diagram container-id="mainDiagramContainer" style="height:400px;"></analysis-diagram>
                </div>
                <nav class="navbar navbar-default"  ng-show="viewMode === 'edition'" style="text-align: center;" >
                    <a class="btn btn-danger btn-lg" ng-click="controller.deleteAnalysisHandler(model);">
                        <i class="fa fa-times"></i> Delete this analysis
                    </a>
                </nav>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="fa fa-sort-numeric-asc"></i> Workflow steps
                </uib-tab-heading>
                <h2 class="form_subtitle">Steps in the workflow</h2>
                <h4 ng-if="(!model.non_processed_data || model.non_processed_data.length === 0) && (!model.processed_data || model.processed_data.length === 0)"style=" text-align: center; margin-top: 30px; ">
                    This analysis is yet empty, add new steps in the workflow to continue the annotation.
                </h4>
                <div ng-if="viewMode !== 'view'" class="navbar-form">
                    <div style="margin: auto;display: block;max-width: 625px;text-align: center;margin-top: 34px;">
                        <a class="btn btn-lg btn-primary" type="button" ng-click="controller.addNewStepButtonHandler()">
                            <i class="fa fa-plus-circle"></i> Add new step
                        </a>
                    </div>
                </div>
                <raw-data-form ng-repeat="model in model.non_processed_data | filter:{ type : 'rawdata' } | orderBy:'step_number'" ng-init="summary = true"></raw-data-form>
                <intermediate-data-form ng-repeat="model in model.non_processed_data | filter:{ type : 'intermediate_data'} | orderBy:'step_number'" ng-init="summary = true"></intermediate-data-form>
                <processed-data-form ng-repeat="model in model.processed_data | orderBy:'step_number'" ng-init="summary = true"></processed-data-form>
            </uib-tab>
            <uib-tab ng-repeat="model in displayedSteps">
                <uib-tab-heading>
                    <i class="fa fa-sort-numeric-asc"></i> {{model.step_name}} 
                    <a class="clickable" style="color: #a5a5a5; margin-left: 5px;" ng-click="controller.closeStepDetails(model);"><i class="fa fa-times text-danger" style="color: #d3d3d3;"></i></a>
                </uib-tab-heading>
                <raw-data-form ng-if="model.type === 'rawdata'"></raw-data-form>
                <intermediate-data-form  ng-if="model.type === 'intermediate_data'"></intermediate-data-form>
                <processed-data-form ng-if="model.type === 'processed_data'"></processed-data-form>
            </uib-tab>
        </uib-tabset>
        <nav class="navbar navbar-default navbar-fixed-bottom progressNavigator" >
            <div class="container">
                <a class="btn btn-danger btn-md navbar-right" ng-click="controller.cancelButtonHandler();">
                    <i class="fa fa-times"></i> <span ng-if="viewMode === 'view'">Close</span><span ng-if="viewMode !== 'view'">Cancel</span> 
                </a>
                <a class="btn btn-warning btn-md navbar-right" ng-show="viewMode === 'view'" ng-click="controller.editButtonHandler();">
                    <i class="fa fa-pencil-square-o"></i> Edit
                </a>
                <a class="btn btn-success btn-md navbar-right" ng-show="viewMode !== 'view'"  ng-click="controller.acceptButtonHandler()" >
                    <i class="fa fa-check fa-fw" ></i> Accept
                </a>
            </div>
        </nav>
        <nav class=" navbar-fixed-bottom" style="left: initial;">
            <back-top scroll-speed=600 button-theme="btn btn-default btn-sm navbar-right"></back-top>
        </nav>
    </form>
</div>