<div class="analysis-card  iu-card" >
    <div class="iu-card-body">
        <h2 class="iu-card-name">
            <span ng-show="analysis.isRemoved" class="label label-danger" style="float: right;padding: 10px;">Deleted</span>
            <i class="fa fa-info-circle text-danger" ng-show="!analysis.isRemoved && analysis.remove_requests.length > 0" uib-tooltip="Some users deleted this step. Please confirm deletion." style="float: right;padding: 10px;"></i>
            {{analysis.analysis_name}}
            <span class="iu-card-description" style="font-size: 10px;">{{analysis.analysis_id}}</span>
        </h2>
        <div class="iu-card-description" >
            <div ng-if="analysis.status === 'pending'">
                <b class="text-danger">This analysis was imported and should be reviewed.</b>
            </div>
            <p>{{(analysis.analysis_description|| "No description provided")}}</p>
            <a><i class="fa fa-sitemap"></i> Show workflow diagram</a>
        </div>
        <div class="iu-card-tags-list">
            <i class="tag {{getTagColor(tag)}}" ng-repeat="tag in analysis.tags| orderBy">{{tag}}</i>
        </div>
    </div>
    <a ng-if="analysis.status !== 'pending'" class="btn btn-info open-iu-button" ui-sref="analysisDetail({viewMode : 'view', analysis_id : analysis.analysis_id})"> 
        <i class="fa fa-info-circle"></i> More details 
    </a>
    <a ng-if="analysis.status === 'pending'" class="btn btn-danger open-iu-button" ui-sref="analysisDetail({viewMode : 'view', analysis_id : analysis.analysis_id})"> 
        <i class="fa fa-info-circle"></i> Review this analysis
    </a>
</div>
