<!DOCTYPE html>
<html ng-app="stategraemsApp">
    <head>
        <title>STATegra EMS v{{myAppConfig.VERSION}}</title>
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" >-->
        <!--<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">-->

        <link rel="stylesheet" href="css/bootstrap.min.css" type='text/css'>
        <link rel="stylesheet" href="css/fonts/font-awesome.min.css" type='text/css'>

        <link rel="stylesheet" href="css/main.css" type='text/css'>
        <link rel="stylesheet" href="css/angular-dialogs.min.css">
        <link rel="stylesheet" href="css/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="css/bootstrap-treeview.min.css">

        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>-->
        <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>-->

        <script type="text/javascript" src="lib/angular.min.js"></script>
        <script type="text/javascript" src="lib/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/angular-ui-router.min.js"></script>

        <script type="text/javascript" src="lib/angular-backtop.min.js"></script>
        <script type="text/javascript" src="lib/angular-dialogs.min.js"></script>
        <script type="text/javascript" src="lib/ui-bootstrap-tpls-1.3.2.min.js"></script>
        <script type="text/javascript" src="lib/typeahead.bundle.js"></script>
        <script type="text/javascript" src="lib/bootstrap-tagsinput.js"></script>
        <script type="text/javascript" src="lib/bootstrap-tagsinput-angular.js"></script>
        <script type="text/javascript" src="lib/bootstrap-treeview.min.js"></script>
        <script type="text/javascript" src="lib/js.cookie.js"></script>
        <script type="text/javascript" src="lib/sigma.min.js"></script>
        <script type="text/javascript" src="lib/sigma.plugins.min.js"></script>
        <script type="text/javascript" src="lib/dagre.min.js"></script>
    </head>

    <body ng-controller="InstallController as controller">
        <div id="wrapper">
            <nav id ="header" class="navbar navbar-default navbar-fixed-top topbar-nav">
                <div class="navbar-header"></div>
                <span id="app_version">v{{myAppConfig.VERSION}}</span>
            </nav>
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li><a class="parentOption"><i class="fa fa-cogs" aria-hidden="true"></i> EMS install</a></li>
                </ul>
            </div>
            <div id="page-content-wrapper" >
                <div class="container-fluid" >
                    <div ng-show="installing" class="" style="text-align: center;">
                        <div style="margin-top: 75px;">
                            <h1 style="">Setting up the system for first run...</h1>
                            <p>This process can take some minutes, please be patient and do not reload this page.
                            </p>
                            <p>You will be redirected when the process ends.</p>
                            <ul style="text-align: left;margin: auto;display: block;width: 352px;">
                                <li style="list-style: none;"> 
                                    <i ng-show="install_done" class="fa fa-check-circle text-success" aria-hidden="true"></i>
                                    <i ng-show="!install_done" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                    Installing databases
                                </li>
                                <li style="list-style: none;"> 
                                    <i ng-show="install_done" class="fa fa-check-circle text-success" aria-hidden="true"></i>
                                    <i ng-show="!install_done" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                    Setting up data directories</li>
                                <li style="list-style: none;"> 
                                    <i ng-show="install_done" class="fa fa-check-circle text-success" aria-hidden="true"></i>
                                    <i ng-show="!install_done" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                    Adding default users</li>
                            </ul>
                            <div ng-show="install_done" style="text-align: center;" class="well well-lg">
                                <h2 class="text-success">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    Done! You will be redirected in few seconds.</h2>
                                <p>If nothing happens, please click <a href="/">here</a>
                                </p><h3>Enjoy using STATegra EMS!</h3>
                            </div>
                        </div>
                    </div>
                    <form ng-show="!installing" name="installForm" class="form-horizontal">
                        <nav class="navbar navbar-default navbar-top title-bar">
                            <h1 class="form_title">Welcome to STATegra EMS {{myAppConfig.VERSION}} installation</h1>
                            <h2 class="form_subtitle">Please fill the form below to start installing</h2>
                            <h3 class="form_subtitle">Please an option below:</h3>
                            <div class="radio">
                                <label><input type="radio" name="installation_type" ng-model="config.installation_type" value="install">I want to install a new STATegra EMS instance in my server</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="installation_type" ng-model="config.installation_type" value="upgrade">I want to upgrade a previous STATegra EMS installation</label>
                            </div>
                        </nav>
                        <div class="section_box row" ng-show="config.installation_type === 'install'">
                            <h2 class="section_subtitle">Database configuration</h2>
                            <p style="font-size: 16px;font-weight: lighter; color: #868686; margin-left: 5px;">
                                Please type the MySQL user name which will be used to create the database (must have DATABASE and USER CREATION privileges)
                            </p>
                            <div class="field-group row">
                                <label class="col-sm-3" for="MYSQL_DATABASE_NAME" tooltip-placement='right' uib-tooltip="The name for the database for the STATegra EMS. Default: STATegraDB">
                                    Database name
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="text" name="MYSQL_DATABASE_NAME"
                                       ng-model="config.MYSQL_DATABASE_NAME"
                                       ng-required="true" >
                            </div>
                            <div class="field-group row">
                                <label class="col-sm-3" for="MYSQL_HOST"  tooltip-placement='right' uib-tooltip='The host where the server is running. If you are using the dockerized version of the STATegra EMS, the default host name is "stategraems-mysql". The default value is localhost.'>
                                    Database host
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="text" name="MYSQL_HOST"
                                       ng-model="config.MYSQL_HOST"
                                       ng-required="true" >
                            </div>
                            <div class="field-group row">
                                <label class="col-sm-3" for="MYSQL_ROOT_USER"  tooltip-placement='right' uib-tooltip="The user name of the MySQL account you want to use. This user must have privileges for CREATE DATABASES, ADD USERS, and GRANT PRIVILEGES.  The default value is root. ">
                                    MySQL admin name
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="text" name="MYSQL_ROOT_USER"
                                       ng-enable="config.installation_type === 'install'"
                                       ng-model="config.MYSQL_ROOT_USER"
                                       ng-required="true" >
                            </div>
                            <div class="field-group row">
                                <label class="col-sm-3" for="MYSQL_ROOT_PASSWORD"  tooltip-placement='right' uib-tooltip="The password of the MySQL account.">
                                    MySQL admin pass
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="password" name="MYSQL_ROOT_PASSWORD"
                                       ng-enable="config.installation_type === 'install'"
                                       ng-model="config.MYSQL_ROOT_PASSWORD"
                                       ng-required="true" >
                            </div>
                            <div class="field-group row">
                                <label class="col-sm-3" for="MYSQL_EMS_USER"  tooltip-placement='right' uib-tooltip="The user name of the MySQL account that will manage the STATegra EMS database. Must be a non-existing user. The default value is emsuser. " >
                                    EMS database user
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="text" name="MYSQL_EMS_USER"
                                       ng-enable="config.installation_type === 'install'"
                                       ng-model="config.MYSQL_EMS_USER"
                                       ng-required="true" >
                            </div>
                            <div class="field-group row">
                                <label class="col-sm-3" for="MYSQL_EMS_PASS"  tooltip-placement='right' uib-tooltip="The password for the STATegra EMS MySQL account. The default value is auto-generated (random 16 char).">
                                    EMS database pass
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="password" name="MYSQL_EMS_PASS"
                                       ng-enable="config.installation_type === 'install'"
                                       ng-model="config.MYSQL_EMS_PASS"
                                       ng-required="true" >
                            </div>
                        </div>
                        <div class="section_box row">
                            <h2 class="section_subtitle">EMS configuration</h2>
                            <p style="font-size: 16px;font-weight: lighter; color: #868686; margin-left: 5px;">
                                The STATegra EMS includes an administration user account.</br>Please type the email and the password for the administrator user.
                            </p>
                            <div class="field-group row">
                                <label class="col-sm-3" for="EMS_ADMIN_USER"  tooltip-placement='right' uib-tooltip="The email for the STATegra EMS admin account. E.g. myadmin@account.com">
                                    Admin email
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="email" name="EMS_ADMIN_USER"
                                       ng-model="config.EMS_ADMIN_USER"
                                       ng-required="true" >
                            </div>
                            <div class="field-group row">
                                <label class="col-sm-3" for="EMS_ADMIN_PASSWORD"  tooltip-placement='right' uib-tooltip="The password for the STATegra EMS admin account. Min length 6 characters.">
                                    Admin pass
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="password" name="EMS_ADMIN_PASSWORD"
                                       ng-model="config.EMS_ADMIN_PASSWORD"
                                       ng-minlength="6"
                                       ng-required="true" >
                                <span class="text-danger" ng-show="signForm.password.$error.minlength">Password must be at least 6 characters.</span>
                            </div>
                            <p style="font-size: 16px;font-weight: lighter; color: #868686; margin-left: 5px;">
                                The STATegra EMS stores some files and images so it is necessary to specify the location for those files.</br>
                                Please type the directory for files storage.</br>
                                Note:<b>do not forget</b> allow read/write to Tomcat user in this location.
                            </p>
                            <div class="field-group row">
                                <label class="col-sm-3" for="data_location"  tooltip-placement='right' uib-tooltip='The directory where the application will store some of the configuration files. The default location is "/data/stategraems_app_data/"'>
                                    Data Location
                                    <i style="color: #31708f;line-height: 30px;" class="fa fa-question-circle" ></i>
                                </label>
                                <input class="col-sm-8" type="text" name="data_location"
                                       ng-model="config.data_location"
                                       ng-required="true" >
                            </div>
                        </div>
                        <nav class="navbar navbar-default navbar-fixed-bottom progressNavigator" >
                            <div class="container">
                                <a class="btn btn-success btn-md navbar-right" ng-show="viewMode !== 'view'" ng-disabled="installForm.$invalid" ng-click="controller.sendInstallDataHandler()" >
                                    <i class="fa fa-check fa-fw" ></i> Install STATegra EMS
                                </a>
                            </div>
                        </nav>
                    </form>
                </div>
            </div>
        </div><!-- /#wrapper -->
        <script type="text/javascript" src="app/install_app.js"></script>
        <script type="text/javascript" src="common/resources/common.js"></script>
    </body>
</html>
